extends base

block content
    main.main
        .error
            .error__title.email-verified
                h2.heading-secondary Your email has been verified!
                h2.heading-secondary Page will be reload soon.